PORT=3000
SESSION_SECRET=supersecretkey

# LDAP Connection
LDAP_URL=ldaps://auth.tiozaodolinux.com
LDAP_BASE_DN=DC=seudominio,Dc=com,DC=br

# Domain suffix for binding (fallback)
LDAP_DOMAIN=seudominio.com.br

# Authenticated Bind (Service Account)
# Required for searching users/groups and performing updates
LDAP_ADMIN_DN=Administrator@seudominio.com.br
LDAP_ADMIN_PASSWORD=SuperSecretPassword@2025

# Group required to access the application
LDAP_GROUP_REQUIRED=CN=ADWEB-Admin,CN=Users,DC=seudominio,DC=com,DC=br

# Debug mode
LDAP_DEBUG=true
