

    <div class="starter-template">
        <h1>Active Directory Web Manager</h1>
        <p class="lead">Manage your AD Users and Groups easily.</p>
        <a href="/users" class="btn btn-lg btn-primary">Manage Users</a>
        <a href="/groups" class="btn btn-lg btn-secondary">Manage Groups</a>
    </div>