<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD Web Manager</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { padding-top: 50px; }
        .starter-template { padding: 40px 15px; text-align: center; }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">AD Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Groups</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
               <% if (typeof user !== 'undefined') { %>
                <li class="nav-item">
                    <span class="navbar-text mr-3">Welcome, <%= user.sAMAccountName || user.cn %></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light btn-sm" href="/logout">Logout</a>
                </li>
               <% } %>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <%- body %>
    </main>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
